.App {
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  overflow: hidden;
  padding: 0 32px;
}
